<!-- <div class="text-center mt-3">
    <h3>Issue with your Password?</h3>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="box col-md-6">
            <form #forgotForm="ngForm">
                <div class="form-group">
                    <input type="email" name="email" #email="ngModel" class="form-control" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <input type="button" class="btn btn-primary form-control text-white"
                        value="send verfication link" (click)="onClick(email.value)" />
                </div>
            </form>
        </div>
    </div>
</div> -->