<body>

    <div>
        <div class="container p-4 " style="max-width:800px;max-height:auto; ">

            <div class="container p-5">

                <div class="row">
                    <div class="">
                        <div class="py-5 px-auto">
                            <div class="container ml-md-5">
                                <div class="container1">
                                    <img src="../../../assets/bg-01.jpg" alt="LoginImg" width="100%">
                                </div>
                                <div class="formBox ">
                                    <form [formGroup]="loginForm" (ngSubmit)="signIn()">
                                        <h1 class="text-center multicolortext py-3">Sign in</h1>
                                        <div class="mx-md-5">
                                            <div class="form-group d-flex">
                                                <i class="col-1 col-md-1 fas fa-envelope fa-2x"
                                                    style="opacity: 0.8;"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <div class="flex-fill">
                                                    <input type="text" [class.is-invalid]="email.invalid&&email.touched"
                                                        formControlName="email" class="form-control"
                                                        placeholder="Enter email">
                                                    <div class="alert alert-warning" *ngIf="invalidEmail">
                                                        <strong>User not Found</strong>
                                                    </div>
                                                    <div class="text-danger" *ngIf="email.invalid&&email.touched">
    
                                                        <small *ngIf="email.errors.required">Email is required</small>
                                                        <small *ngIf="email.errors.email">Enter Valid email</small>
                                                    </div>
                                                </div>
                                            </div>
    
                                            <div class="form-group d-flex">
                                                <i class="col-1 fas fa-lock fa-2x"
                                                    style="opacity: 0.8;"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <div class="flex-fill">
                                                    <input type="password"
                                                        [class.is-invalid]="password.invalid&&password.touched"
                                                        formControlName="password" class="form-control"
                                                        placeholder="Enter password">
                                                    <div class="alert alert-warning" *ngIf="invalidPassword">
                                                        <strong>Invalid Password</strong>
                                                    </div>
                                                    <div class="text-danger" *ngIf="password.invalid&&password.touched">
                                                        <small *ngIf="password.errors.required">Passowrd is required</small>
                                                    </div>
                                                </div>
                                            </div>
    
                                            <div class="form-group">
                                                <input type="submit" class="btn-color btn form-control text-white"
                                                    value="Login">
                                            </div>
                                        </div>
                                    </form>
    
                                    <div class="mt-2 mx-5 text-right">
                                        <a routerLink="/forgot-password">Forgot password?</a>
                                    </div>
    
                                    <div class="mx-5 text-center">
                                        <a routerLink="/register">Create an account <small
                                                class="fas fa-arrow-right"></small></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>

    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>


</body>